/* ページ全体の背景を白に設定 */
body {
    background-color: #FFFFFF; /* 背景色を白に */
    color: #333; /* 文字のデフォルト色をグレーに */
    font-family: Arial, sans-serif; /* フォントを設定 */
    text-align: center; /* コンテンツを中央揃え */
    padding: 20px;
}

/* h1要素 */
h1 {
    font-family: "ビルの谷間と高架下 フリー版"; /* フォント名を正しく記述 */
    color: #6F1E11; /* 文字色を茶色に設定 */
    border-bottom: 6px double #000; /* 二重線の下線を設定 */
}

/* 段落要素 (p) のスタイル */
p {
    color: #AF8742; /* 文字色を指定 */
}

