/* ページ全体の背景を白に設定 */
body {
    background-color: #FFFFFF; /* 背景色を白に */
    color: #333; /* 文字のデフォルト色をグレーに */
    font-family: Arial, sans-serif; /* フォントを設定 */
    text-align: center; /* コンテンツを中央揃え */
    padding: 20px;
}

/* h1要素の文字色を変更 */
h1 {
    color: #6F1E11; /* 文字色を茶色に設定 */
    border-bottom: 6px double #000;
}

p {
    #example2 {
  color: #AF8742
}
}
